<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login/Reg</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'LogRegApp/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="topleft">
                <img src="{% static 'petSPAw_app/images/logo_transparent.png' %}" alt="Pet Spa Logo">
            </div>

            <div class="topright">
                <ul class="breadcrumb">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/AboutUs">ABOUT US</a></li>
                    <li><a href="/welcome">SIGN UP</a></li>
                </ul>
            </div>
        </div>
        <div class="logreg_content">
            <h4>Welcome, Register or Login!</h4>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="log_reg_form">
                <div class="registering">
                    <h5>Register</h5>
                    <form class="frontform" action="/processregistration" method="POST">
                        {% csrf_token %}
                        <label for="name">Name </label><input type="text" name="name"><br>
                        <label for="email">Email </label><input type="text" name="email"><br>
                        <label for="password">Password </label><input type="password" name="password"><br>
                        <label for="confirmpw">Confirm Password </label><input type="password" name="confirmpw"><br>
                        <input class="RegLogButton" type="submit" value="Register">
                    </form>
                </div>

                <div class="loggingin">
                    <h5>Login</h5>
                    <form class="frontform" action="/processlogin" method="POST">
                        {% csrf_token %}
                        <label for="email">Email </label><input type="text" name="email"><br>
                        <label for="password">Password </label><input type="password" name="password"><br>
                        <input class="RegLogButton" type="submit" value="Login"><br>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer">
            <ul>
                <li>Call Us: +1 777-777-7777</li>
                <li>Email Us: petspa@customerservice.com</li>
                <li class="footer_location"><a href="/AboutUs">Location:</a> </li>
                <li>Coding Dojo - 1715 114th Ave SE #100, Bellevue WA 98004</li>
            </ul>
        </div>
    </div>
</body>

</html>